body {
  height: 100%,auto;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.top-bar{
  background-color: #2C2C34;
  height: 110px;
  display: flex;
  padding: 15px;
}
.shares-img{
  height: 16px;
  width: 16px;
  color: white;
}
.agenda-img{
  height: 16px;
  width: 16px;
}
.flower-img{
  height: 16px;
  width: 16px;
}
.farmer-img{
  height: 16px;
  width: 16px;
}

.low-left{
  color: #D3D3D5;
  width: 50%;
 display: flex;
 align-items: flex-end;
 justify-content: space-around;
}

.right{
  color: #D3D3D5;
  width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;

}
.card-display{
  padding: 10px;
  background-color: #D3D3D5;
  height: auto;
}
.shares{
  align-items: center;
  height: 80px;
  padding: 20px;
  border: solid;
  border-width: 0px;
  border-color: blue;
  font-size: 26px;
  color: #2C2C34;
}
.card-area{

  display: grid;

    /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); */

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  grid-auto-rows: minmax (100px, auto) */
}
.card{
  background-color: white;
  display:flex;
  flex-direction: column;
  border:solid;
  border-width:3px;
  border-color:#9D9CA1;
}
.card-contents{
  padding: 10px;
}
.card-image{
  height:125px;
  width: 100%;
}
